[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0"
typing-extensions = "*"
celery = "*"
redis = "*"

[dev-packages]
pre-commit = "*"
pytest-django = ">=4.8,<5.0.0"
pytest-xdist = { version="*", extras=["psutil"] }

[requires]
python_version = "3.11"
