{% extends "base.html" %}

{% block title %}
  Travel-App
{% endblock %}

{% block main %}

<h1>Create New Account</h1>

<form class="new-account">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email">

    <br><br>

    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username">

    <br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password">

    <br><br>

    <input type="submit" value="Submit">
</form>

{% endblock %}
