{% extends "base.html" %}

{% block title %}
  Travel App
{% endblock %}

{% block main %}
  <h2>
    Greetings, traveller!
  </h2>
  <h3>
    <span class="app_name">Travel App</span> welcomes you.
  </h3>
  <p>
    Introducing <span class="app_name">Travel App</span>, a powerful tool to learn about a culture and language before a trip. Here at <span class="app_name">Travel App</span>, we believe that language learning should provide information on local slang, culture, and pronunciations, so learners can better communicate with locals.
    <br><br>
    With <span class="app_name">Travel App</span>, you can:
    <ul>
      <li>Learn about new cultures</li>
      <li>Practice pronunciations and listening</li>
      <li>Understand local slang</li>
      <li>Read menus and maps</li>
      <li>And so much more!</li>
    </ul>
    <br>
  </p>
{% endblock %}
</html>
